.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  padding: var(--button-padding);
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-size: var(--button-text-size);
  font-weight: var(--font-medium);
  transition: all 0.5s ease-in-out;
}

.primary, .secondary, .gray, .outline{
  min-width: 100px;
  min-height: 48px;
}

.primary {
  background: var(--primary);
  color: var(--black);
}

.primary:hover{
  background: var(--primary-tint);
}

.secondary {
  color: var(--primary);
  background: var(--white);
}

.secondary:hover {
  color: var(--primary-tint);
  background: var(--grayII);
}

.outline {
  background: transparent;
  color: var(--black);
  border: 1.5px solid var(--black);
  opacity: 0.7;
}

.outline:hover {
  opacity: 1;
}

.text {
  background: transparent;
  color: var(--blue);
}

.text:hover {
  color: var(--primary-tint);
}

.gray {
  background: var(--grayII);
  color: var(--black);
}

.gray:hover {
  background: var(--grayIII);
  color: var(--black);
}

.page{
  background:  var(--white);
  border: 1px solid var(--grayII);
  border-radius: 4px;
  padding: 0rem;
  aspect-ratio: 1;
  font-weight: var(--font-semibold);
}

