.formWrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0rem;

  @media (min-width: 768px) {
    padding: 1rem 2rem;
  }
}

.modalActions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.column{
  width: 100%;

  > div {
    width: 100%;

    > input {
      width: 100%
    }
  }
}

.doubleColumn{
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  div {
    width: 50%;

    > div{
      width: 100%;
    }
  }
}