.section, .recipeList {
  display: flex;
  flex-direction: column;
  width: var(--layout-in-width);
}

.section {
  text-align: left;
  padding: 3rem 0 2rem;
  z-index: 1;

  @media (min-width: 768px) {
    margin-top: 3rem;
  }

  > h2 {
    font-size: var(--h1-alt-font-size);
    

    @media (min-width: 768px) {
      line-height: 45px;
      width: 75%;
    }
  }

  > p {
    
    @media (min-width: 768px) {
      width: 65%;
    }
  }
}

.recipeList{
  margin-bottom: 3rem;
  z-index: 1;
  width: 100%;
  position: relative;
  z-index: 0;


  @media (min-width: 768px) {
    width: var(--layout-in-width);
    position: relative;
  }

  > img {
    display: none;
    position: absolute;

    @media (min-width: 768px) {
      display: flex;
      top: -15rem;
      right: 1rem;
      width: 30%;
      transform: rotate(-20deg);
    }
  }

}